extends base.pug

block content
    section.section
        .container
            .level
                .level-left
                    h2.title.is-3 #{pageTitle}
                .level-right
                    form(action='/transaction-pool', method='POST')
                        button.button.is-black.is-medium(type='submit', value='Submit') Mine
            hr
            if success
                .notification.is-success Success!
            if error
                .notification.is-danger Error :(
            each transaction in transactionPool
                if transaction.id
                    .subtitle.is-6 Transaction Id: 
                        code.tooltip
                            | #{formatters.hash(transaction.id)}
                            span.tooltiptext #{transaction.id}
                .title.is-6 Transaction Inputs
                table.table.is-striped.is-fullwidth
                    thead
                        tr
                            th Transaction Id
                            th Transaction Out Index
                    tbody 
                        each txin in transaction.txins
                            tr 
                                each column in txinColumns
                                    td #{txin[column]}
                .title.is-6 Transaction Outputs
                table.table.is-striped.is-fullwidth
                    thead
                        tr
                            th Address
                            th Amount
                    tbody 
                        each txout in transaction.txouts
                            tr 
                                each column in txoutColumns
                                    td #{txout[column]}
